/* CSS Document */
@charset "utf-8";

body {
      font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 5% 10% 5% 10%;
      background-color: #e8f4fb;
      overflow-y: scroll;
      position: fixed;
      width: 1000px;
}
header {
      margin-bottom: 3%;
}
h1 {
      font-variant: small-caps;
      margin: 0;
}
img {
      padding: 0 25% 0 25%;
}
footer {
      padding: 4% 0 1% 0;
}
.smalltext {
      font: italic 65% "Helvetica Neue";
      color: grey;
}
.panels {
      border: 1px solid #badff5;
      padding: 1%;
      background-color: #d1e9f8;
      border-radius: 5px;
}
.tweet {
      color: #1b95e0;
      text-decoration: none;
}
